/* USER VARIABLES SECTION */
$fontsize: vw1920(20px);
$accent: #C51127;
$onyx: #161517;
$graphite: #56575C;
$grey: #F8F9FA;
$beige: #F4F1EC;
$white: #FFFFFF;
$blue: #1AA0D8;
$green: #93AE37;
$proximaxnova: 'Proxima Nova', sans-serif;